<include file="Public/window_header"/>
<body>
<div class="modal-body add-notice">
    <form class="form" role="form" action="" method="post" id="add-from">
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2 title-right">跑马灯类型：</label>
            <div class="col-xs-12 col-sm-8">
                <select name="type" class="form-control form-control-extend">
                    <option value="0">正常跑马灯</option>
                    <option value="100">所有人弹板</option>
                    <option value="200">VIP弹板</option>
                    <option value="300">玩家弹板</option>
                </select>

            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2 title-right">跑马灯内容：</label>
            <div class="col-xs-12 col-sm-8">
                <textarea name="content" class="form-control form-control-extend" rows="5" placeholder="该项为必填项,请输入内容..."></textarea>
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2 col-xs-12 title-right">起止时间：</label>
            <div class=" col-sm-4 col-xs-6">
                <input name="startTime" class="form-control form-control-extend Wdate" type="text" id="Beginday"  onclick="WdatePicker({ dateFmt:'yyyy-MM-dd 00:00:00' ,maxDate:'#F{ $dp.$D(\'Endday\')||\'%y-{%M+2}-%d\'}',readOnly:true })" placeholder="开始时间 必填项"/>
            </div>
            <div class="col-sm-4 col-xs-6">
                <input name="endTime" class="form-control form-control-extend Wdate" type="text" id="Endday" onclick="WdatePicker({ dateFmt:'yyyy-MM-dd 00:00:00' ,minDate:'#F{ $dp.$D(\'Beginday\') }',readOnly:true })" placeholder="结束时间 必填项"/>
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-3 col-sm-2 title-right">播放间隔：</label>
            <div class="col-xs-8 col-sm-8">
                <input name="interval" type="number" min="0" class="form-control form-control-extend" value="" placeholder="以秒为单位 必填项"/>
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-3 col-sm-2 title-right">重复次数：</label>
            <div class="col-xs-8 col-sm-8">
                <input name="repeatTime" type="number" min="-1" class="form-control form-control-extend" value="" placeholder="-1为无限次播放  必填项"/>
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
    </form>
</div>
</body>
</html>
