<extend name="Public/base"/>
<block name="body">
    <div class="panle panle-bg">
        <include file="Public/page_title"/>

        <div class="panel-body player-list">
            <!-- 顶部搜索部分 -->
            <include file="Public/search_bar"/>

            <!-- 信息栏部分 -->
           <!-- <include file="Player/user/bar/index"/>-->

            <!-- 顶部功能区（添加、删除、搜索） -->
            <div class=" tool-body col-lg-12 col-xs-12">
                <div class="tool-right">
                    <button id="searBtn" class="btn btn-reset" type="button" title="普通搜索">
                      <i class="glyphicon glyphicon-search hidden-xs"></i><span><b>&nbsp;搜索</b></span>
                    </button>
                </div>
            </div>
            <!-- 顶部功能区结束 -->

            <!-- 内容列表区 -->
            <div class="table-responsive" style="overflow-x:visible;">

                <table id="table" class="table table-striped table-hover"></table>
            </div>
            <!--内容列表区结束 -->

        </div>
    </div>
    <!--引入基础js文件-->
    <!--后台公共js-->
    <script src="__JS__/backend.js"></script>

    <!--Bootstrap-table 配置-->
    <script src="__JS__/table.js"></script>

    <!--获取不同的控制器 js-->
    <php>$controller = strtolower(CONTROLLER_NAME); $action = strtolower(ACTION_NAME);</php>
    <script src="__JS__/backend/{$controller}/{$action}.js"></script>

    <!--初始化基本配置信息-->
    <script type="text/javascript">
        var Config = JSON.parse('{$config}');
        var tableconfig = Controller.index('__SELF__');
        //将搜索按钮绑定到搜索事件上
        backend.search_bind("#serachButton");
        //绑定回车事件
        backend.keydown_bind(".keydown", "#serachButton");
        backend.layer_bind('.btn-edit');
    </script>

</block>