html,body{
	padding:0;
	margin:0;
	-webkit-user-select:none;
    user-select:none;/* 禁止页面文字被选中*/
	}
body{
	width:100%;
	height:100%;
	font-size:62.5%;
	font-family:Verdana, Geneva, sans-serif,"微软雅黑";
	}
a,button,input,textarea{ 
  outline:none !important;
}

input:focus{outline:none;}
a{  
   -webkit-tap-highlight-color: transparent;/* 覆盖默认的高亮显示 适用于iOS */
   -webkit-touch-callout: none;/* 当你触摸并按住触摸目标时候，禁止或显示系统默认菜单。 */
   -webkit-user-select: none;
	cursor:pointer;
	text-decoration:none;
	}
a:hover{
	text-decoration:none;
}	
ul li{
	list-style:none;
	text-decoration:none;
	}
.pad0{
	padding:0;
}
.tool-body{
 position:relative;
 margin:1rem 0;
 display:inline;
 padding:0;
}		
.panle-bg{
	background: #fff;
	margin:2rem;
	border:.2rem solid #eee;
	border-radius:.5rem;
}
.panel-head-bg{
	border-bottom:.2rem solid #eee;
	background:#f2f2f2;
}	
.panle-title{
	margin-top:0;
	margin-bottom:0;
	color:#666;
	font-size:1.6rem;
}
.panel-wrap{
   background: #fff;
   margin-left:1rem;
  }
 .panel-box{
	 border-top:.2rem solid #18bc9c
	 }	 
 
  table tr,td,th{
   border:.1rem solid #eee;
   text-align:center;
   vertical-align:middle !important; 
  }
 
 .panel-inner{
	 border:.1rem solid #eee;
	 padding:0;
	 margin-top:2rem;
	 margin-bottom:2rem;
 } 
.panel-inner-title{
	background:#222d32;
	height:3.5rem;
	line-height:3.5rem;
	font-size:1.4rem;
	border-bottom:1px solid #eee;
	color:#eee;
	padding:0 1rem;
	margin-bottom:1rem;
} 
.checx-th{
   text-align:center;
   vertical-align:middle;
   width:3.6rem;
  }
.check-th-pad{
    padding:0;
 } 
.text-normal{
 color:#18bc9c;
 } 
.text_r{
  text-align:right;
 }
.text_l{
	text-align:left;
}
.title-right{
	 text-align:right;
	 font-weight:500;
	 padding-top:1rem;
 }
.text-yc{
  color:#999;
 }  

.tool-right{
  float:right;
}
.table-search{
display:none;
border-bottom:.1rem solid #eee;
margin-bottom:1rem;
}	

.btn-edit{
  background:#6ad4bf;
  color:#fff;
}
.btn-edit:hover{
	background:#45d9bc;
	color:#fff;
}
.mar-bt{
	margin-bottom:1rem;
}
.mar-r{
	margin-right:1rem;
}
.pagination li a.active{
	background:#eee;
}
.control-label-title{
	text-align:right;
	vertical-align:middle;
	height:3rem;
	font-weight:500;
	font-size:1.4rem;
}

body.layui-layer-title{
	background-color:#222d32;
	color:#fff;
}

/* 玩家详情 */
.info_wrap{
	width:100%;
	padding:0;
/* 	border-bottom:.1rem solid #eee; */
}
.info_wrap_title{
	background-color:#FFFAFA;
	text-align:left;
	height:3.5rem;
	line-height:3.5rem;
	margin:0;
	font-size:1.5rem;
	font-weight:bold;
	border:.1rem solid #eee;
}
.info_head_title{
	text-align:center;
/* 	margin:.1rem 0;
 */	height:4rem;
	line-height:4rem;
	font-size:1.5rem;
	font-weight:bold;
	border-bottom:.1rem solid #eee;
	padding:0;
}
.info_head_title span#back{
	float:right;
	margin-right:.4rem
}
.info_head_back{
	background-color:#18bc9c;
	color:#fff;
	border:.1rem solid #ddd;
}
.info_card{
	width:100%;
	padding:0;
}
.info_card h5{
	font-size:1.2rem;
	font-weight:bold;
	text-align:right;
}
.info_item{
	height:3rem;
	line-height:3rem;
}

.info_list li label{
	text-align:right;
}
.info_list li a{
	font-size:1.4rem;
	font-weight:bold;
}
.title_red{
	color:red;
}
.info_inner{
	text-align:center;
	border:.1rem dashed #ddd;
	margin: 2rem auto;
	padding:1rem 0;	
}
.info_inner ul li{
	float:left;
	height:5rem;
	line-height:5rem;
	padding:0 .2rem;
	font-size:1.4rem;
}
.green{
	 background-color:#a6f4a6 !important; 
  }
 .red {
	background-color:#ff9797 !important;  
 }
 .btn-pad{
	 padding:1rem 2rem;
 }
 .btn-mar-r{
	 margin-right:4rem;
 }
 .btn-mar-r2{
	 margin-right:3rem;
 }
 .data_sear_list ul li {
	 float:left; 
	 width:13rem;
	 height:6rem;
	 line-height:5rem;
	 margin:0 1rem;
	
 }
 .data_sear_list ul li a {
	 width:13rem;
 }
.select-form{
	width:45%;
	display:inline;
	height:2.5rem;
	line-height:2.5rem;
	padding:0 1rem;
	margin-bottom:.5rem;
} 

@media (min-width: 768px){
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
	}
	
}

 @media screen and (max-width: 767px){
.data_sear_list ul li{
	 float:left; 
	 width:18rem;
	 height:6rem;
	 line-height:6rem;	
 }
.data_sear_list ul li a {
	 width:18rem;
 }
.info_card h5{
	font-size:1.2rem;
	font-weight:bold;
	text-align:left;
}
.form-group label{	
  text-align:left;
 }
 .login-last-xs{
	 padding-top:2rem;
 }
.control-label-title-xs{
	height:0;
} 
.tip-text{
	 color:red;
	 line-height:1.5rem !important;
}
.mar-bt-xs{
	margin-bottom:1rem;
}
.xs_pd0{
	padding:0;
}
.search-result .title{
    padding:1rem 0;
	text-align:left !important;
	font-size:1.6rem;
}
.type-example ul li > span button{
   margin-bottom:.5rem;
}
.search-out{
	text-align:center;
}
  	
.layui-layer-iframe{
	width:99% !important;
	height:70% !important;
	overflow-y:auto;
	overflow-x:hidden;
	
}
.title-left-xs{
	text-align:left !important;
}
.lock-user{
	margin-top:2rem;
	margin-left:2rem !important;
	margin-right:2rem !important;
	font-size:1.2rem
}
 }
 @media (min-width: 1200px){
	 .data_sear_list ul li{
	 float:left; 
	 width:13rem;
	 height:6rem;
	 line-height:6rem;	
 }
  .data_sear_list ul li a {
	 width:13rem;
 }
.info_card h5{
	font-size:1.2rem;
	font-weight:bold;
	text-align:right;
}
.info_lg_item{
	height:3rem;
	line-height:3rem;
} 
.form-group label {
    text-align: right !important;
 }
.type-example ul li > span{
   padding:0 .5rem;
   width:4%;
} 
 }
 @media screen and(min-width: 992px){
 .data_sear_list ul li{
	 float:left; 
	 width:15rem;
	 height:6rem;
	 line-height:6rem;	
 }
  .data_sear_list ul li a {
	 width:15rem;
 }
.info_card h5{
	font-size:1.2rem;
	font-weight:bold;
	text-align:right;
}
.form-group label{
	text-align:right !important;
}	
}
/* 玩家列表 */
.player-list .pagination > li{
	 padding:0 .1rem;
 }
.player-list .pagination > li > select{
	 width:8rem;
	 height:2.5rem;
	 border:1px solid #ddd;
	 border-radius:4px;
 }
.player-list .pagination > li > strong{
	padding:0 .2rem;
	color:#095e07;
} 
.search-result{
	padding:1.2rem 1rem;
	border:1px solid #ddd;
	margin-bottom:.5rem;
	margin-left:0;
	margin-right:0;
}
.search-result .title{
	padding-top:.3rem;
	text-align:right;
	font-size:1.6rem;
}
.search-result ul{
	margin:0;
	padding:0;
	width:100%;
}
.search-result ul li{
	float:left;
	display:inline-block;
	padding:.5rem 1rem;
}
.search-result ul li label{
	padding:0 .3rem;
}
.search-result .top{
	font-size:1.3rem;
}
.search-result .btm{
	text-align:left;
	font-size:1.4rem;
	padding:.5rem 1rem;
}
/* 搜索用户 */
#searUserTable td b{
	font-size:1.4rem;
}
.tip-text{
	color:red;
	text-align:left;
	height:3rem;
	line-height:3rem;
}
.player-manage .label-pt{
	padding-top:.5rem;
}
.player-manage .btn-operate{
	text-align:center;
	margin-bottom:1rem;
}
.player-manage .btn-operate button{
	 padding:.5rem 3rem;
 }
.player-manage .btn-operate button .mar-r{
	 padding:.5rem 3rem;
	 margin-right:2rem;
 } 
.title-purple{
	color:#211cac;
}
.text-focus{
   color:#095e07;
}
.pagination-focus{
   color:#095e07;
}
.trade-pagination{
	float:left;
	padding:0;
}
.trade-pagination > ul{
	padding:0;
	margin:0;
}
.trade-pagination > ul li{
	float:left;
	padding-right:1rem;
	font-weight:600;
	margin:0;
	height:3rem;
	line-height:3rem;
	display:inline;
}
.trade-pagination ul li span{
	padding:0 .3rem;
}
.background-green{
 background:#a6f5a6;
}
.background-gray{
	background:#e6ebef;
}
/* 玩家保护列表中4种玩家类型 */
.btn-blue{
	background:#38b4e4;
	color:#fff;
}
.btn-pink{
	background:#f37d7f;
	color:#fff;
}
.btn-darkgreen{
	background:#005b00;
	color:#fff;
}
.btn-yellow{
	background:#fca401;
	color:#fff;
}
.text-blue{
	color:#38b4e4;
	font-weight:600;
}
.text-pink{
	color:#f37d7f;
	font-weight:600;
}
.text-green{
	color:#316b29;
	font-weight:600;
}
.text-darkgreen{
	color:#005b00;
	font-weight:600;
}
.text-yellow{
	color:#fca401;
	font-weight:600;
}
.text-focus{
	color:#266eaf;
	font-weight:600;
}
.type-example{
	margin-bottom:1rem;
}
.type-example ul{
	padding:0;
	margin:0;
}
.type-example ul li{
	padding:.5rem 1rem;
}
.type-example ul li span{
   padding:0 .5rem;
}
/* 充值记录 */
.recharge-record .total-list{
	margin-bottom:1rem;
	border-top:.1rem solid #eee;
	border-bottom:.1rem solid #eee;
	margin-left:0;
	margin-right:0;
}
.recharge-record .total-list ul{
	margin:0;
	/* padding:0; */
}
.recharge-record .total-list ul li{
	float:left;
	height:4rem;
	line-height:4rem;
	padding-right:3rem;
	padding-left:0;
	font-size:1.4rem;
}
.recharge-record .total-list ul li label{
	margin-right:1rem;
}
/* 邮件列表 */
 .email-list .pagination > li{
	 padding:0 .1rem;
 }
 .email-list .pagination > li > select{
	 width:8rem;
	 height:2.5rem;
	 border:1px solid #ddd;
	 border-radius:4px;
 }
.email-list .pagination > li > strong{
	padding:0 .2rem;
	color:#095e07;
}
/* 当日交易列表 */
.trade-list .pagination > li{
	 padding:0 .1rem;
 }
  .trade-list .pagination > li > select{
	 width:8rem;
	 height:2.5rem;
	 border:1px solid #ddd;
	 border-radius:4px;
 }
.trade-list .pagination > li > strong{
	padding:0 .2rem;
	color:#095e07;
} 
.trade-list .total-list{
	margin-bottom:1rem;
	border-top:.1rem solid #eee;
	border-bottom:.1rem solid #eee;
	margin-left:0;
	margin-right:0;
}
.trade-list .total-list ul{
	margin:0;
	display:inline-block;
	/* padding:0; */
}
.trade-list .total-list ul li{
	float:left;
	height:4rem;
	line-height:4rem;
	padding-right:3rem;
	padding-left:0;
	font-size:1.4rem;
	display:inline;
}
.trade-list .total-list ul li label{
	margin-right:1rem;
}
.btn-custom{
	border:.1rem solid #18bc9c;
	background:#18bc9c;
	color:#fff;
	box-shadow:none;
	font-size:1.2rem;
	padding:.5rem 1.5rem;
	border-radius:.3rem;
}
.btn-custom:hover{
	background:#128f76;
	color:#fff;
	font-size:1.2rem;

}
.btn-reset{
	border:.1rem solid #ddd;
	background:#e5e5e5;
	color:#333;
	box-shadow:none;
	font-size:1.2rem;
	padding:.5rem 1.5rem;
}
.btn-reset:hover{
	background:#ddd;
	color:#000;
}
/* 锁定用户弹框内容 */
.lock-user{
	margin-top:2rem;
	margin-left:6rem;
	margin-right:6rem;
	font-size:1.2rem
}
.lock-user label{
	font-weight:600;
/* 	text-align:right !important;
 */}
.lock-user p{
	height:3rem;
	line-height:3rem;
}
.input-border0{
	border:0 !important;
	box-shadow:none;
}
.edit-resource label{
	font-weight:600;
}
.green-a{
	color:#18bc9c;
	font-weight:600;
}
.btn-info{
	color:#fff;
	background:#3498db;
	border:.1rem solid #3498db;
	box-shadow:none;
}
.btn-info-lg{
	color:#fff;
	background:#3498db;
	border:.1rem solid #3498db;
	box-shadow:none;
	font-size:1.2rem;
	padding:.5rem 1.5rem;

}
.btn-del-lg{
	color:#fff;
	background:#e74c3c;
	border:.1rem solid #e74c3c;
	box-shadow:none;
	font-size:1.2rem;
	padding:.5rem 1.5rem;
}
.btn-del-lg:hover{
	color:#fff;
	background:#d62c1a;
}
.btn-del-xs{
	color:#fff;
	background:#e74c3c;
	border:.1rem solid #e74c3c;
	box-shadow:none;
}
.btn-del-xs:hover{
	color:#fff;
	background:#d62c1a;
}
.gist-content ul li{
	float:left;
	padding:2rem 1rem;
	display:inline-block;
	font-size:1.6rem;
}