<include file="Public/window_header"/>
<body>
<div class="modal-body edit-resource-form">
    <form class="form" role="form" action="" method="post" id="add-from">
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2 title-right">代理团队昵称：</label>
            <div class="col-xs-12 col-sm-8">
                <input name="teamName" type="text" class="form-control form-control-extend" placeholder="代理团队昵称">
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2 title-right">团队负责人ID：</label>
            <div class="col-xs-12 col-sm-8">
                <input name="uid" type="number" class="form-control form-control-extend" placeholder="团队负责人ID">
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2 title-right">负责人手机号：</label>
            <div class="col-xs-12 col-sm-8">
                <input name="phone" type="number" class="form-control form-control-extend" placeholder="负责人手机号">
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2 title-right">负责人微信号：</label>
            <div class="col-xs-12 col-sm-8">
                <input name="wechat" type="text" class="form-control form-control-extend" placeholder="负责人微信号">
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
    </form>
</div>
</body>
</html>
